.main-header-text {
  font-size: 2rem;
  letter-spacing: 0.1rem;
}

.secondary-header-text {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}

.supporting-header-text {
  font-size: 1rem;
  letter-spacing: 0.1rem;
}

.main-paragraph-text {
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
}

.secondary-paragraph-text {
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
}
