.logo-component {
  margin-top: -37.5px;
  height: 50px;
  max-width: 270px;
  align-self: center;
}

.stripes-container {
  overflow: hidden;
  height: 32.5px;
  width: 30%;
  margin-top: 23.5px;
}

.red-stripe {
  transform: rotate(35deg);
  background-color: red;
  margin-left: 15px;
  margin-top: -10px;
  width: 12.5px;
  height: 60px;
}

.black-stripe {
  transform: rotate(35deg);
  background-color: black;
  margin-left: 15px;
  margin-top: -10px;
  width: 12.5px;
  height: 60px;
}

.logo-text-column {
  height: 100%;
  width: 70%;
  padding-top: 20px;
}

.logo-text {
  width: 100%;
  margin-top: 5px;
  margin-left: -15px;
  letter-spacing: 0.3rem;
  font-size: 2em;
  text-align: left;
  font-weight: 700;
  font-family: 'Noto Sans', sans-serif;
}
